@font-face {
    font-family: Itim;
    src: url(Itim-Regular.ttf);
}
*{
    ---textcolor:#FFFFFF;
    ---fundo:#161616;
    ---destaque:#101010;
}
body{
    background-color: var(---fundo);
    color: var(---textcolor);   
}
header, .question{
    background-color:  var(---destaque);
    font-size: 60px;
    font-family: Itim, cursive;
}
p{
    font-size: 50px;
    font-family: Itim, cursive; 
}
.question{
    text-align: center;
    background-color:  var(---destaque);
    padding: 5% 10% 0 10%;
    font-size: 30px;
    width: 20%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-self: center;
}
.list{
    padding: 0 0 30% 0;
    display: block;
}
td{
    border: var(---textcolor), solid, 3px;
    font-size: 50px;
}